@import './base.css';
/* * {
    outline: 2px solid green;
} */
body {
    display: grid;
    row-gap: 1vh;
    grid-template-rows: 7vh 82vh 7vh;
}

a:visited, a:link, a:active {
    color: rgb(141, 241, 208);
}

a:hover {
    color:#f4e448;
}

main {
    min-height: 720px;
}
/* 
#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */
